﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MyNancy.Models.Person>
<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>

<div>
    jiu shi zhe'm xuan @Model.Name
</div>
</body>
</html>
